In [1]:
import pandas as pd

In [2]:
cars = ['bmw', 'Benz', 'Tesla', 'Pride']
colours = ['White', 'Red', 'Yellow', 'Green']

In [4]:
car_series = pd.Series(cars)
car_series

0      bmw
1     Benz
2    Tesla
3    Pride
dtype: object

In [7]:
colour_series = pd.Series(colours, index =[1, 3, 3, 7])
colour_series

1     White
3       Red
3    Yellow
7     Green
dtype: object

In [8]:
colour_series.loc[3]

3       Red
3    Yellow
dtype: object

In [9]:
colour_series.iloc[3]

'Green'

In [10]:
df = pd.DataFrame({'Cars' : cars, 'Colour' : colours })
df

    Cars  Colour
0    bmw   White
1   Benz     Red
2  Tesla  Yellow
3  Pride   Green

In [14]:
df.to_csv('my_cars.csv')
df.to_csv('my_cars_noindex.csv', index=False)

In [13]:
my_car = pd.read_csv('my_cars.csv')
my_car

   Unnamed: 0   Cars  Colour
0           0    bmw   White
1           1   Benz     Red
2           2  Tesla  Yellow
3           3  Pride   Green

In [16]:
my_carr = pd.read_csv('my_cars_noindex.csv')
my_carr

    Cars  Colour
0    bmw   White
1   Benz     Red
2  Tesla  Yellow
3  Pride   Green

In [18]:
car = pd.read_csv('car.csv')
car

      Cars colours     type  speed
0     benz   White   Hybrid    240
1      Bmw     Red   Hybrid    240
2    Tesla    Blue  gasolin    220
3    Pride   Black   Hybrid    140
4  renault  Yellow  gasolin    220
5      Kia   Green   Hybrid    240
6   Toyota  Purole  gasolin    210

In [20]:
car['Cars']

0       benz
1        Bmw
2      Tesla
3      Pride
4    renault
5        Kia
6     Toyota
Name: Cars, dtype: object

In [22]:
car.Cars        #if there is space in name we cant use this method

0       benz
1        Bmw
2      Tesla
3      Pride
4    renault
5        Kia
6     Toyota
Name: Cars, dtype: object

In [23]:
car.columns

Index(['Cars', 'colours', 'type', 'speed'], dtype='object')

In [24]:
car.index

RangeIndex(start=0, stop=7, step=1)

In [25]:
car.head   #show soe of top

<bound method NDFrame.head of       Cars colours     type  speed
0     benz   White   Hybrid    240
1      Bmw     Red   Hybrid    240
2    Tesla    Blue  gasolin    220
3    Pride   Black   Hybrid    140
4  renault  Yellow  gasolin    220
5      Kia   Green   Hybrid    240
6   Toyota  Purole  gasolin    210>

In [26]:
car.head(3)

    Cars colours     type  speed
0   benz   White   Hybrid    240
1    Bmw     Red   Hybrid    240
2  Tesla    Blue  gasolin    220

In [27]:
car.tail(3)

      Cars colours     type  speed
4  renault  Yellow  gasolin    220
5      Kia   Green   Hybrid    240
6   Toyota  Purole  gasolin    210