In [ ]:
import numpy as np

In [2]:
name = ['mohammad', 'ali', 'ali', 'hasan']
age = [24, 31, 20, 17]
cities = ['tehran', 'shiraz', 'karaj', 'zahedan']

In [3]:
pattern = [('name', 'U30'), ('age', 'i4'), ('cities', 'U30')]
my_array = np.zeros(4, dtype = pattern)
my_array

array([('', 0, ''), ('', 0, ''), ('', 0, ''), ('', 0, '')],
      dtype=[('name', '<U30'), ('age', '<i4'), ('cities', '<U30')])

In [7]:
my_array[0] = (name[0], 24, cities[0])
my_array[1] = (name[1], 31, cities[1])
my_array[2] = (name[2], 20, cities[2])
my_array[3] = (name[3], 17, cities[3])
my_array

array([('mohammad', 24, 'tehran'), ('ali', 31, 'shiraz'),
       ('ali', 20, 'karaj'), ('hasan', 17, 'zahedan')],
      dtype=[('name', '<U30'), ('age', '<i4'), ('cities', '<U30')])

In [8]:
my_array['age']

array([24, 31, 20, 17], dtype=int32)

In [15]:
my_3D_array = np.zeros((2, 3, 4), dtype = pattern)
my_3D_array

array([[[('', 0, ''), ('', 0, ''), ('', 0, ''), ('', 0, '')],
        [('', 0, ''), ('', 0, ''), ('', 0, ''), ('', 0, '')],
        [('', 0, ''), ('', 0, ''), ('', 0, ''), ('', 0, '')]],

       [[('', 0, ''), ('', 0, ''), ('', 0, ''), ('', 0, '')],
        [('', 0, ''), ('', 0, ''), ('', 0, ''), ('', 0, '')],
        [('', 0, ''), ('', 0, ''), ('', 0, ''), ('', 0, '')]]],
      dtype=[('name', '<U30'), ('age', '<i4'), ('cities', '<U30')])

In [16]:
my_3D_array[1, 1, -1] = ('ali', 25, 'yazd')  #structur array
my_3D_array

array([[[('',  0, ''), ('',  0, ''), ('',  0, ''), ('',  0, '')],
        [('',  0, ''), ('',  0, ''), ('',  0, ''), ('',  0, '')],
        [('',  0, ''), ('',  0, ''), ('',  0, ''), ('',  0, '')]],

       [[('',  0, ''), ('',  0, ''), ('',  0, ''), ('',  0, '')],
        [('',  0, ''), ('',  0, ''), ('',  0, ''), ('ali', 25, 'yazd')],
        [('',  0, ''), ('',  0, ''), ('',  0, ''), ('',  0, '')]]],
      dtype=[('name', '<U30'), ('age', '<i4'), ('cities', '<U30')])

In [22]:
my_record_array = np.rec.array([('ali', 25, 'yazd'), ('mamali', 32, 'rasht')], dtype = pattern)    #record array
my_record_array

rec.array([('ali', 25, 'yazd'), ('mamali', 32, 'rasht')],
          dtype=[('name', '<U30'), ('age', '<i4'), ('cities', '<U30')])

In [23]:
my_record_array.name

array(['ali', 'mamali'], dtype='<U30')