In [1]:
import numpy as np
import pandas as pd

In [2]:
sales_number = np.random.randint(20, size =(7, 3))
sales_number

array([[11, 12, 10],
       [ 4, 13, 16],
       [ 0,  7, 18],
       [ 4,  0, 12],
       [ 3, 19, 17],
       [17,  1, 13],
       [ 3,  6, 15]])

In [17]:
weakly_sales = pd.DataFrame(sales_number,
                           index=['Saturday', 'Sunday', 'Monday', 'Thuesday', 'Wednesday', 'Thursday', 'Friday'],
                           columns=['Pizza','Sandwich', 'Burger'])
weakly_sales

           Pizza  Sandwich  Burger
Saturday      11        12      10
Sunday         4        13      16
Monday         0         7      18
Thuesday       4         0      12
Wednesday      3        19      17
Thursday      17         1      13
Friday         3         6      15

In [18]:
prices = np.array([20, 15, 17]).reshape(1, 3)
food_sales = pd.DataFrame(prices,
                           index=['Price'],
                           columns=['Pizza','Sandwich', 'Burger'])
food_sales

       Pizza  Sandwich  Burger
Price     20        15      17

In [22]:
total = np.dot(weakly_sales, food_sales.T)
# food_sales.dot(weakly_sales)

In [23]:
weakly_sales['Total'] = total
weakly_sales

           Pizza  Sandwich  Burger  Total
Saturday      11        12      10    570
Sunday         4        13      16    547
Monday         0         7      18    411
Thuesday       4         0      12    284
Wednesday      3        19      17    634
Thursday      17         1      13    576
Friday         3         6      15    405